{
  "plugins": ["@typescript-eslint", "prettier"],
  "ignorePatterns": ["node_modules/", "dist/"],
  "rules": {
    "prettier/prettier": "error",
    "no-useless-escape": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
